*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This ensures padding and border are included in the element's total width and height */
   
   
}
.box1{
    height: 400px;
    width: 100%;
    margin-top: 0%;
   padding-left: 15%;
}
.z1{
    height: 50px;
    width: 100%;
    display: flex;
    margin-top: 0%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;

    
}
.a1{
    padding: 2%;
    font-size: small;
}
.b2{
    color: aliceblue;
}
.b3{
    color: aliceblue;
    
}
.b1{
    top:40%;
    left: 40%;
    position: absolute;

}
.cover-image{
    justify-content: flex-start;
    display: flex;
}
.card-text{
    font-size: 12px;
}
.card-add{
    margin-left: auto;
}
.card1 {
    border-color: transparent; /* Set border color to transparent */
    /* Optionally, you can also set box-shadow to none to remove shadow */
    box-shadow: none;
}
.bodymarge{
    margin-top:55px;
    max-width: 100%;
}
.img1{
    height: 35px;
    width: 35px;
    background: transparent;
    
}
.img2{
    height: 30px;
    width: 30px;
}
.butown{
    padding:0% 2% 0% 2% ;
    margin-left: 6px;
}
.butparent{
    margin-top: 3%;
  
}
.quote{
    background-color: black;
    color: aliceblue;
    height: 100px;
    width: auto;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.quote1{
    background-color: black;
    color: aliceblue;
    height: 150px;
    width: auto;
   font-size: x-small;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
   

}
.Awards{
    width: max-content;
    padding:0% 0.5% 0% 0.5%;
    margin-top: -15px;
     margin-left: 50% ;
    background-color: white;
    
}
.Awards1{
     width: max-content;
    padding:0% 0.5% 0% 0.5%;
    margin-top: -15px;
     margin-left: 37% ;
    background-color: white;
    padding-bottom: 5%;

}
.card{
   padding: 3%;
   height: 140px;
}
.cardsMargin{
    margin-top: 5%;
}
.endbox{
    font-family: sans-serif;
   font-size: 86%;
   padding-right: 15%;
   padding-left: 15%;

}
.lastone{
    margin-top: 7%;
}
.word{
    color:gray
}